* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.square {
  background: #444;
  border: 1px solid #a4e0cd;
  border-radius: 10px;
  font-size: 45px;
  font-weight: bold;
  height: 100px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  color: #a4e0cd;
  position: relative;
  margin: 5px;
}

.square:hover {
  background-color: #555;
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  background: #444;
  margin-bottom: 30px;
  border: 1px solid #a4e0cd;
  font-size: 28px;
  color: #a4e0cd;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 6px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: 700;
}

.game {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  color: #a4e0cd;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  padding-top: 100px;
}

.game-board {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  padding-top: 40px;
}

.game-info {
  background: #444;
  margin-left: 20px;
  border: 1px solid #a4e0cd;
  border-radius: 6px;
  padding-right: 27px;
  font-size: 16px;
  color: #a4e0cd;
  height: 455px;
  margin-top: 40px;
  /* max-width: 300px; */
}

button {
  font-size: 16px;
  padding: 6px;
  margin-top: 6px;
  border: none;
  border-radius: 6px;
  border: 1px solid #a4e0cd;
  background-color: #444;
  color: #a4e0cd;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #595959;
}

button:active {
  transform: scale(0.95);
}

.square.winning-square {
  background-color: #a4e0cd;
  color: #555;
}

.login {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a4e0cd;
  border-radius: 6px;
  padding: 30px;
  width: 350px;
}

.login button {
  margin: 10px 0;
}

.login h2 {
  font-size: 36px;
  color: #a4e0cd;
}

.label-password,
.label-username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.label-password label,
.label-username label {
  margin-bottom: 2px;
  font-size: 18px;
  color: #a4e0cd;
}
.input-text {
  font-size: 16px;
  border: 1px solid #a4e0cd;
  border-radius: 6px;
  padding: 5px;
}

.app {
  align-items: center;
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #a4e0cd;
}

.container-topbar {
  box-shadow: 0 4px 10px hsla(0, 0%, 100%, 0.1);
  height: 70px;
  width: 100%;
}
.topbar .username {
  font-size: 27px;
  font-weight: 700;
  margin-left: 100px;
}
.topbar .menu {
  display: flex;
  gap: 30px;
  flex-flow: row nowrap;
}
.menu-ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-ul li {
  display: inline-block;
}

.menu-ul a {
  color: #a4e0cd;
  opacity: 0.6;
  padding: 20px;
  text-decoration: none;
  transition: all 0.07s ease-in-out;
}
.menu-ul a:hover {
  opacity: 1;
}

.leaderboard {
  background: none;
  color: #a4e0cd;
  font-size: 16px;
  width: 500px;
  border: 1px solid rgba(164, 224, 205, 0.2);
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.logout {
  background-color: #444;
  color: #a4e0cd;
  border: 1px solid #a4e0cd;
  width: 100px;
  padding: 6px 12px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.topbar .logout:hover {
  background-color: #a4e0cd;
  color: #444;
}

.leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
  padding: 8px;
  text-align: center;
}

.leaderboard th {
  color: #a4e0cd;
  border-bottom: 1px solid rgba(164, 224, 205, 0.2); /* Бордер между заголовками и данными */
}

.leaderboard td {
  color: #a4e0cd;
}
.game-screen {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin-left: 115px;
}
.user-profile h2 {
  color: #a4e0cd;
  margin-bottom: 10px;
  margin-top: 10px;
}
.user-profile p {
  margin: 7px 0;
  color: #a4e0cd;
}
